{% extends "layout.html" %}
{% block title %}
    Login
{% endblock %}

{% block main %}

    <div class="text-center mb-4">
        <h1 class="fw-bold">Login</h1>
    </div>

    <form action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary d-block mx-auto" type="submit">Log in</button>
        <br>
    </form>

    <a href="/login/google">
        <button class="btn btn-primary d-block mx-auto">Sign in with Google</button>
    </a>
    
{% endblock %}